@import url('https://fonts.googleapis.com/css?family=Roboto');

a:hover {
    color: #467370;
    text-decoration: underline;
}
.fixedtop {

  position: fixed; 
  left:0;
  right:0;
  top: 0;
  z-index: 1030;
  }
  
  .container {
    
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}
.Img {
    width: 10%;
}

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
  #mainNav {
    min-height: 3.5rem;
    background-color: #22262a;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-align:center;
    margin-left:320px;
  }
  
   .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .nav-links {
    display: block;
    padding-top:0.7rem;
    padding-bottom:0.5rem;
    padding-left:1rem;
    outline:none;
    font-size:1rem;
    font-weight:300;
    border-bottom:none;
    color:  rgb(255, 255, 255);
   
  }
  .nav-links:hover{
    color:#64a19d;
    text-decoration:none;
  }
  .nav-links:focus{
    color:#64a19d;
  }
  .nav-links:active{
    color:#64a19d;
    
  }
  
  .nav-links:disabled{
    background-color:#64a19d;
  }
  .nav-links.show{
    background-color:#64a19d;
  }

  .nav-item:hover{
    color:#64a19d;
  }
  
  .brand {
    display: inline-block;
    margin: 0;
    line-height: inherit;
    font-family: "Montserrat","Bodoni MT Condensed";
    font-size: 25px;
    letter-spacing:0.095rem;
    font-weight:400;
    background-color: #64a19d ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 